<div class="header">
  <ul class="nav nav-pills pull-right">
    <li>
    <a id="grupos" href="#" class="glyphicon glyphicon-arrow-left"></a>
    </li>
    <li class="active">
    <a id="llaves" href="#/llaves" class="glyphicon glyphicon-arrow-right"></a>
    </li>
  </ul>
  <h3 class="text-muted">mr mundial</h3>
</div>

<div id="llaves">

  <tabset justified=true>
  <tab heading="Octavos">
  <div class="row text-center" ng-repeat="partido in octavos.partidos">

    <div class="input-group partido">
      <input ng-model="partido.resultado[0]" ng-change="actualizarResultado(partido, partido.resultado[0], null)" type="number" class="form-control resultado">
      <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
      <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
      <input ng-model="partido.resultado[1]" ng-change="actualizarResultado(partido, null, partido.resultado[1])" type="number" class="form-control resultado">
    </div>

    <hr ng-if="$odd && !$last" />

  </div>
  </tab>
  <tab heading="Cuartos">

  <div class="row text-center" ng-repeat="partido in cuartos.partidos">

    <div class="input-group partido">
      <input ng-model="partido.resultado[0]" ng-change="partido.ponerResultado(partido[0].resultado[0], null)" type="number" class="form-control resultado">
      <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
      <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
      <input ng-model="partido.resultado[1]" ng-change="partido.ponerResultado(null, partido.resultado[1])" type="number" class="form-control resultado">
    </div>

    <hr ng-if="$odd && !$last" />

  </div>
  </tab>
  <tab heading="Semifinal">

  <div class="row text-center">

    <div class="input-group partido">
      <input ng-model="partidos.A[$index].resultado[0]" type="number" class="form-control resultado">
      <span class="input-group-addon equipo">Mexico</span>
      <span class="input-group-addon equipo">Argentina</span>
      <input ng-model="partidos.A[$index].resultado[1]" type="number" class="form-control resultado">
    </div>

  </div>
  <div class="row text-center">

    <div class="input-group partido">
      <input ng-model="partidos.A[$index].resultado[0]" type="number" class="form-control resultado">
      <span class="input-group-addon equipo">Colombia</span>
      <span class="input-group-addon equipo">USA</span>
      <input ng-model="partidos.A[$index].resultado[1]" type="number" class="form-control resultado">
    </div>

  </div>
  </tab>

  <tab heading="Final">

  <div class="row text-center">

    <div class="input-group partido">
      <input ng-model="partidos.A[$index].resultado[0]" type="number" class="form-control resultado">
      <span class="input-group-addon equipo">Argentina</span>
      <span class="input-group-addon equipo">Colombia</span>
      <input ng-model="partidos.A[$index].resultado[1]" type="number" class="form-control resultado">
    </div>

  </div>
  <hr/>

  <div class="row text-center">

    <div class="input-group partido">
      <input ng-model="partidos.A[$index].resultado[0]" type="number" class="form-control resultado">
      <span class="input-group-addon equipo">Mexico</span>
      <span class="input-group-addon equipo">USA</span>
      <input ng-model="partidos.A[$index].resultado[1]" type="number" class="form-control resultado">
    </div>

  </div>
  </tab>
  </tabset>
</div>

<div class="footer">
  <p>Celeste y blanca ♥</p>
</div>
